<script>
    var base="${base}";
    var stxbase="${stxbase}";
</script>
<script type="text/javascript" src="${stxbase}/js/bootstrap.js"></script>
<script type="text/javascript" src="${stxbase}/js/angular.min.js"></script>
<script type="text/javascript" src="${stxbase}/js/ng-file-upload.min.js"></script>
<script type="text/javascript" src="${stxbase}/js/ng-file-upload-shim.min.js"></script>
<script type="text/javascript" src="${stxbase}/js/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="${stxbase}/js/layer/layer.js"></script>
<script type="text/javascript" src="${stxbase}/js/zTree/js/jquery.ztree.all.js"></script>
<script type="text/javascript" src="${stxbase}/js/wangEditor/js/wangEditor.min.js"></script>
<script type="text/javascript" src="${stxbase}/js/EditorConfig.js"></script>
<script type="text/javascript" src="${stxbase}/js/comm.js"></script>
