<#assign base=request.contextPath />
<#assign stxbase = base+"/static"/>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
<meta name="description" content="">
<meta name="author" content="ThemeBucket">
<link rel="shortcut icon" href="${stxbase}/static/images/logo.png" type="image/png">
<link href="${stxbase}/css/admin-style.css" rel="stylesheet">
<link href="${stxbase}/css/style-responsive.css" rel="stylesheet">
<link href="${stxbase}/css/jasny-bootstrap.min.css" rel="stylesheet">
<link href="${stxbase}/js/zTree/css/zTreeStyle.css" rel="stylesheet" />
<link href="${stxbase}/css/comm.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="${stxbase}/js/wangEditor/css/wangEditor.min.css">
<script type="text/javascript" src="${stxbase}/js/jquery-1.10.2.min.js"></script>