<#assign base=request.contextPath />
<#assign stxbase = base+"/static"/>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <title>首页</title>
  <link href="${stxbase}/css/clndr.css" rel="stylesheet">
  <link href="${stxbase}/js/morris-chart/morris.css"  rel="stylesheet">
  <link href="${stxbase}/css/admin-style.css" rel="stylesheet">
  <link href="${stxbase}/css/style-responsive.css" rel="stylesheet">
  <link href="${stxbase}/css/jasny-bootstrap.min.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="${stxbase}/js/html5shiv.js" type="text/javascript"></script>
    <script src="${stxbase}/js/respond.min.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body class="sticky-header">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->

        <div class="logo">
            <a href="javascript:void(0);" ><p class="title">后台管理</p></a>
        </div>

        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">

                <li><a href="${base}/admin/index"><i class="fa fa-home"></i> <span>主页</span></a></li>
                <#if menuList?exists>
                    <#list menuList as menu>
                        <li class="menu-list"><a href="#"><i class="fa <#if menu.remark?exists>${menu.remark}</#if>"></i> <span>${menu.name}</span></a>
                            <ul class="sub-menu-list">
                                <#if menu.childMenu?exists>
                                    <#list menu.childMenu as m>
                                        <li><a href="javascript:void(0);" onclick="subLoadFramePage('${m.hostPath}');">${m.name}</a></li>
                                    </#list>
                                </#if>
                            </ul>
                        </li>
                    </#list>
                </#if>
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">
            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <#if user?exists>
                            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <#if user.icon?exists>
                                    <img src="${base}${user.icon.filePath}" alt="" />
                                    <#else/>
                                    <img src="${stxbase}/images/icon.jpg" alt="" />
                                </#if>
                             ${user.name}
                            <span class="caret"></span>
                            </a>
                        </#if>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="javascript:void(0);" onclick="subLoadFramePage('/userInfo/userInfo');" ><i class="fa fa-user"></i> 个人信息修改</a></li>
                            <li><a href="javascript:void(0);" onclick="subLoadFramePage('/userInfo/modifyPassword');" ><i class="fa fa-cog"></i>  登录密码修改</a></li>
                            <li><a href="${base}/admin/logout"><i class="fa fa-sign-out"></i> 退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--notification menu end -->
        </div>
        <!--body wrapper start-->
        <div class="wrapper">
            <iframe id="content" src="${base}/admin/main.html" frameborder="0" scrolling="yes" width="100%" >

            </iframe>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <!--<footer>
            2014 &copy; AdminEx by ThemeBucket
        </footer>-->
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>
<script type="text/javascript" src="${stxbase}/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="${stxbase}/js/jquery.form.js"></script>
<script type="text/javascript" src="${stxbase}/js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="${stxbase}/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="${stxbase}/js/modernizr.min.js"></script>
<script type="text/javascript" src="${stxbase}/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="${stxbase}/js/bootstrap.js"></script>
<script type="text/javascript" src="${stxbase}/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="${stxbase}/js/layer/layer.js"></script>
<script type="text/javascript" src="${stxbase}/js/scripts.js"></script>
<script type="text/javascript">
    $(function(){
        adjustIframeHeight("content") ;
    });
    /**
     * content加载
     * @param framePage
     */
    function subLoadFramePage(framePage) {
        var url = "${base}" + framePage;
        $("#content").attr("src",url);
    };
    /**
     * iframe tag
     */
    function adjustIframeHeight(iframeId) {
        var iframeObj=window.parent.document.getElementById(iframeId);
        if (document.body.scrollHeight<800){
            iframeObj.style.height="800px";
        }else	{
            var scrollHeight = document.body.scrollHeight -100;
            iframeObj.style.height=scrollHeight+"px";
        }
    };
</script>
</body>
</html>
