<#assign base=request.contextPath />
<#assign stxbase = base+"/static"/>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
	<meta name="description" content="">
	<meta name="author" content="ThemeBucket">
	<link href="${stxbase}/css/admin-style.css" rel="stylesheet">
	<link href="${stxbase}/css/style-responsive.css" rel="stylesheet">
	<link href="${stxbase}/css/jasny-bootstrap.min.css" rel="stylesheet">
	<style>
		.title{
			margin-left: 25px;
			line-height: 40px;
		}
		.control-label{
			margin-top: 8px;
		}
		.modal-dialog .form-group{
			height: 36px;
			overflow: hidden;
			margin-top: 20px;
		}
	</style>
</head>
<body style="background: white;">
	<div class="row">
		<div class="col-md-12">
			<!--breadcrumbs start -->
			<ul class="breadcrumb panel">
				<li><a href="${base}/admin/index"><i class="fa fa-home"></i>首页</a></li>
				<li class="active">登录密码修改</li>
			</ul>
			<!--breadcrumbs end -->
		</div>
	</div>
	<div class="row ">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="panel ">
						<div class="panel-body ">
							<form class="form-horizontal adminex-form "
								onsubmit="return toVaild();"
								action="${base}/userInfo/modifyPassword" method="post" id="form">
								<div class="alert fade in" style="display: none">
									<button type="button" class="close close-sm" id="butt"
										data-dismiss="alert">
										<i class="fa fa-times"></i>
									</button>
									<div></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">登录密码</label>
									<div class="col-sm-10">
										<input type="password" class="form-control" id="oldPassword"
											name="oldPassword" value="" pattern=".{6,18}"
											title="字母开头，长度在6~18之间，只能包含字母、数字和下划线" required
											placeholder="请输入登录密码">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2  control-label">新密码</label>
									<div class="col-sm-10">
										<input type="password" class="form-control" id="newPassword"
											pattern=".{6,18}"
											title="字母开头，长度在6~18之间，只能包含字母、数字和下划线" required
											name="newPassword" placeholder="请输入新密码">
									</div>
								</div>

								<div class="form-group ">
									<label class="control-label col-sm-2">确认密码</label>
									<div class="col-sm-10">
										<input type="password" class="form-control"
											id="newPassword1" pattern=".{6,18}"
											title="字母开头，长度在6~18之间，只能包含字母、数字和下划线" required
											name="newPassword1" placeholder="请输入确认密码">
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-offset-2 col-lg-10">
										<button type="submit" class="btn btn-success">保存</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="${stxbase}/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="${stxbase}/js/jquery.form.js"></script>
<script type="text/javascript" src="${stxbase}/js/bootstrap.js"></script>
<script type="text/javascript" src="${stxbase}/js/layer/layer.js"></script>
<script type="text/javascript">
	var load="";
	$(document).ready(function() {
		/**
		 * 表单提交
		 */
		$("#form").ajaxForm({"beforeSubmit":beforeSubmit,"success":success});
	});
	/**
	 * 提交结束之前遮罩层
	 */
	function beforeSubmit(){
		load = layer.load(0, {shade: [0.8, '#393D49']});
	}
	/**
	 * 提交成功回调
	 * @param data
	 */
	function success(data){
		layer.close(load);
		//滚动条置顶
		window.scrollTo(0,0);
		$('.alert').show();
		if(data.status=="success"){
			$(".alert").addClass("alert-success");
		}else{
			$(".alert").addClass("alert-danger");
		}
		$(".alert").find("div").eq(0).html("");
		$(".alert").find("div").eq(0).html(data.msg);
	}
	function toVaild() {
		var pass1 = document.getElementById("newPassword");
		var pass2 = document.getElementById("newPassword1");
		if (pass1.value != pass2.value) {
			pass1.setCustomValidity("两次输入的密码不匹配");
			return false;
		} else {
			pass1.setCustomValidity("");
			return true;
		}
	}
</script>
</html>


