/* ============Œƒ’¬œÍ«È============== */

div#newscontent{
text-align:left;
padding:0px 0px 8px 0px;
}

div#newscontent .newstitle{
	font-size:25px;
    font-weight: 500;
	line-height:50px;
	text-align:center;
}

div#newscontent .info{
height:28px;
font-size:14px;
line-height:28px;
border-bottom:1px #e8e8e8 solid;
margin:0px 0px;
text-align:center;
}


div#newscontent .memo{
margin:20px 0px 0px 0px;
padding:15px;
text-align: left;
font-size:14px;
line-height:28px;
border:1px #ddd dotted;
text-align:left;
background-color:#fff;
}

div#newscontent .con{
margin:30px 0px;
text-align: left;
font-size:14px;
line-height:28px;
}

div#newscontent .con p,div#newscontent .con a{
font-size:14px;
line-height:28px;
}


div#newscontent .bzone{
clear:both;
margin:30px 0px;
text-align: left;
}


div#newscontent div.down{
font-size:14px;
line-height:28px;
background:url(../images/downfile.gif) left no-repeat;
padding-left:23px;
height:28px;
}

div#newscontent div.down span#downlink{
font-size:14px;
line-height:28px;
cursor:pointer;
text-decoration: underline;
}

div#newscontent .tags{
background:url(../images/tags.gif) left no-repeat;
padding-left:23px;
height:28px;
font-size:14px;
line-height:28px;
}

div#newscontent .source{
background:url(../images/source.gif) left no-repeat;
padding-left:23px;
height:28px;font-size:14px;
line-height:28px;
}

div#newscontent .addfav{
background:url(../images/fav.gif) left no-repeat;
padding-left:23px;
height:28px;
font-size:14px;
line-height:28px;
cursor:pointer;
}

div#newscontent #zhichi{
cursor:pointer;
background:url(../images/zhichi.gif) right no-repeat;
padding-right:12px;
}

div#newscontent #fandui{
cursor:pointer;
background:url(../images/fandui.gif) right no-repeat;
padding-right:12px;
}


div#newscontent .banzhu{
display:none;
background:url(../images/banzhu.gif) left no-repeat;
padding-left:23px;
height:28px;
font-size:14px;
line-height:28px;
}

div#newscontent .banzhu span{
cursor:pointer;
}



/* ============∑≠“≥============== */

div#contentpages {
margin:0;
padding:0;
height:39px;
}


div#contentpages ul{
margin:0;
padding:0;
}


div#contentpages li{
margin:3px;
list-style-type: none;
float:left;
font: 12px 'Microsoft YaHei';
color:#505050;
border:1px #cde6ff solid;
white-space: nowrap;
padding:2px 5px;
cursor:pointer;
background-color:#fff;
}

div#contentpages li.pagesnow{
color:#505050;
border:1px #cde6ff solid;
background-color:#e4f2ff;
cursor:pointer;
}

div#contentpages li.pbutton{
color:#505050;
background-color:#e4f2ff;
padding:2px 6px 2px 6px;
cursor:pointer;
}

div#contentpages li.cbutton{
color:#505050;
background-color:#e4f2ff;
padding:2px 6px 2px 6px;
cursor:default;
}


