/* ============ÄÚÈİ·­Ò³============== */

div.page_content {
font:14px;
line-height:32px;
color:#505050;
padding-bottom:40px;
}

div.page_content p,div.page_content a,div.page_content td,div.page_content span,div.page_content li{
font:14px;
line-height:32px;
color:#505050;
}


